<header class="header">
    <div class="left-section">
        <img src="assets/icons/search.svg" class="change-color" alt="Search icon">
        <span>Search</span>
    </div>
    <div class="right-section">
        <div class="language">
            <span>eng</span>
            <img src="assets/icons/downarrow.svg"  class="change-color" alt="triangle">
        </div>
        <div class="chats">
            <span class="green-dot"></span>
            <img src="assets/icons/chat.svg" class="change-color" alt="triangle">
        </div>
        <div class="notifications">
            <span class="red-dot"></span>
            <img src="assets/icons/bell.svg" class="change-color" alt="triangle">
        </div>
        <div class="user-info">
            <div class="profile-pic">
                <img src="http://placehold.it/32x32" alt="Profile photo">
            </div>
            <span>lucile french</span>
            <img src="assets/icons/downarrow.svg"  class="change-color downarrow" alt="triangle">
        </div>
    </div>
</header>